$colorBlack: #000000;
$colorWhite: #ffffff;

// borders
$colorBorderLightBlue: #d1dbe1;

// backgrounds
$colorBackgroundBlueGray: #e6f0f3;

// text
$colorTextGray: #4b4b4b;

// colors
$colorLightBlue: #d6ecf3;
$colorBlue: #79c6c9;
$colorPrimaryBlue: #15afc2;
$colorDarkBlue: #115159;

$colorLightPink: #f5bae2;
$colorPink: #f35bda;
$colorPrimaryPink: #f316e1;
$colorDarkPink: #c508b5;
